## Machine Learning Models for Text Classification

#### Bag of Words

In [38]:
import pandas as pd
import numpy as np

In [39]:
import os
os.chdir('C:/Users/DELL/Desktop/Projects/KGP Talkie/NLP')


# multiple statements output in one cell with out print() funcation

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [40]:
df = pd.read_csv(r"nlp_ml_data.csv")
df = df.fillna(0)
df.head()
df.tail()

,Unnamed: 0,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentionstags_count,numerics_count,uppercase_count,emails,emails_count,urls_flag
0,0,switchfoot - awww byoummer shoyoulda got david...,0,19,115,5.052632,4,0,1,0,1,[],0,1
1,1,youpset youpdate facebook texting cry resyoult...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,2,kenichan dived times ball managed save 50 rest...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,3,body feels itchy fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,4,nationwideclass behaving mad becayouse,0,21,111,4.285714,10,0,1,0,1,[],0,0

,Unnamed: 0,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentionstags_count,numerics_count,uppercase_count,emails,emails_count,urls_flag
95,800045,going read new moon 3rd cant enoyough series,4,18,85,3.666667,8,0,0,0,1,[],0,0
96,800046,today oyoyour month anniversary love sooooooo ...,4,23,126,4.478261,8,0,0,0,6,[],0,0
97,800047,bored,4,3,11,2.666667,1,0,0,0,1,[],0,0
98,800048,stevecla wallpaper red sqyouare asking,4,12,61,4.083333,6,0,1,0,1,[],0,0
99,800049,rkeithhill thanks yoyoyour response ihad fiand...,4,10,70,6.000000,4,0,1,0,0,[],0,0

In [41]:
df.shape

(100, 14)

In [42]:
df['sentiment'].value_counts()

4    50
0    50
Name: sentiment, dtype: int64

In [45]:
df_feat = df.drop(labels=['twitts', 'sentiment', 'emails'], axis = 1).reset_index(drop=True)
df_feat.head()

,Unnamed: 0,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentionstags_count,numerics_count,uppercase_count,emails_count,urls_flag
0,0,19,115,5.052632,4,0,1,0,1,0,1
1,1,21,111,4.285714,9,0,0,0,0,0,0
2,2,18,89,3.944444,7,0,1,0,1,0,0
3,3,10,47,3.700000,5,0,0,0,0,0,0
4,4,21,111,4.285714,10,0,1,0,1,0,0

In [48]:
y = df['sentiment']
y.head()
y.tail()

0    0
1    0
2    0
3    0
4    0
Name: sentiment, dtype: int64

95    4
96    4
97    4
98    4
99    4
Name: sentiment, dtype: int64

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer()
text_counts = cv.fit_transform(df['twitts'])

In [52]:
text_counts.toarray()

text_counts.shape

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0]], dtype=int64)

(100, 514)

In [11]:
df_bow = pd.DataFrame(text_counts.toarray(), columns=cv.get_feature_names())

In [12]:
df_bow.head()

,10,1130pm,12,2pm,3rd,50,accoyount,acms,add,added,...,youp,youpcoming,youpdate,youpload,youpset,youser,yousyoual,yoyouaand,yoyoyour,zac
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## ML Algorithms

In [13]:
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [14]:
sgd = SGDClassifier(n_jobs=-1, random_state=42, max_iter=200)
lgr = LogisticRegression(random_state=42, max_iter=200)
lgrcv = LogisticRegressionCV(cv=5, random_state=42, max_iter=1000)
svm = LinearSVC(random_state=42, max_iter=200)
rfc = RandomForestClassifier(n_jobs=-1, random_state=42, n_estimators=200)

In [15]:
clf = {'SGD': sgd, 'LGR': lgr, 'LGR-CV':lgrcv, 'SVM':svm, 'RFC':rfc}

In [16]:
clf.keys()
#clf.values()

dict_keys(['SGD', 'LGR', 'LGR-CV', 'SVM', 'RFC'])

In [17]:
def classify(X, y):
    scaler = MinMaxScaler(feature_range=(0,1))
    X= scaler.fit_transform(X)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 42, stratify=y)
    
    for key in clf.keys():
        clf[key].fit(X_train, y_train)
        y_pred = clf[key].predict(X_test)
        ac = accuracy_score(y_test, y_pred)
        print(key, '---->' , ac)

In [18]:
%%time
classify(df_bow, y)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

SGD ----> 0.5
LGR ----> 0.55

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LGR-CV ----> 0.55
SVM ----> 0.55
RFC ----> 0.55
Wall time: 2.01 s

#### Manual Feature

In [19]:
df_feat.head(2)

,Unnamed: 0,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentionstags_count,numerics_count,uppercase_count,emails_count,urls_flag
0,0,19,115,5.052632,4,0,1,0,1,0,1
1,1,21,111,4.285714,9,0,0,0,0,0,0

In [20]:
%%time
classify(df_feat, y)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

SGD ----> 1.0
LGR ----> 1.0
LGR-CV ----> 1.0
SVM ----> 1.0
RFC ----> 1.0
Wall time: 548 ms

#### Manual + Bow

In [21]:
X = df_feat.join(df_bow)
X.head()

,Unnamed: 0,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentionstags_count,numerics_count,uppercase_count,emails_count,...,youp,youpcoming,youpdate,youpload,youpset,youser,yousyoual,yoyouaand,yoyoyour,zac
0,0,19,115,5.052632,4,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,21,111,4.285714,9,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,2,18,89,3.944444,7,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,10,47,3.700000,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,21,111,4.285714,10,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
%%time
classify(X, y)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

SGD ----> 1.0
LGR ----> 1.0
LGR-CV ----> 1.0
SVM ----> 1.0
RFC ----> 1.0
Wall time: 708 ms

### TFIDF

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
df.shape

(100, 14)

In [25]:
tfidf = TfidfVectorizer()
X = tfidf.fit_transform(df['twitts'])

In [26]:
%%time
classify(pd.DataFrame(X.toarray()), y)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

SGD ----> 0.55
LGR ----> 0.6
LGR-CV ----> 0.6
SVM ----> 0.6
RFC ----> 0.55
Wall time: 748 ms

### Word to Vec

In [27]:
import spacy

In [28]:
# !pip install en_core_web_sm
# !python -m spacy download en_core_web_sm

In [29]:
nlp = spacy.load('en_core_web_sm')

In [30]:
def get_vec(x):
    text = nlp(x)
    return text.vector.reshape(1, -1)

In [31]:
%%time
df['vec'] = df['twitts'].apply(lambda x: get_vec(x))
df['vec'].head()

Wall time: 1.8 s

In [32]:
X = np.concatenate(df['vec'].to_numpy(), axis = 0)

In [33]:
X.shape

(100, 96)

In [34]:
classify(pd.DataFrame(X), y)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype float32 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

SGD ----> 0.5
LGR ----> 0.5
LGR-CV ----> 0.5
SVM ----> 0.5

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

RFC ----> 0.4

In [35]:
def predict_w2v(x):
    for key in clf.keys():
        y_pred = clf[key].predict(get_vec(x))
        print(key, '--->', y_pred)

In [36]:
predict_w2v('we stand together, we will win together')

SGD ---> [4]
LGR ---> [4]
LGR-CV ---> [4]
SVM ---> [4]
RFC ---> [0]